body,html{
	height: 100%;
	margin: 0;
}


header{font-size: 40px;
	   backgroud-color: white;
	   color: black;
	   padding-left: 1cm;
}

h1{font-size: 30px;
	   backgroud-color: white;
	   color: black;
	   padding-left: 1cm;
}

h2{font-size: 30px;
	   backgroud-color: white;
	   color: black;
	   padding-left: 1cm;
}

h3{font-size: 30px;
	   backgroud-color: white;
	   color: black;
	   padding-left: 1cm;
}



p{font-size: 20px;
  backgroud-color: white;
  color: white;
  padding-left: 1cm;
 }

ol{font-size: 20px;
   backgroud-color: white;
   color: white;
   padding-left: 2cm;
}



/*.ph{
	background-image: url("Sorriso.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}*/

.ph{
	background-image: url("Sorriso.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.content{
display: none;
}

input{
	padding: 5px;
	border-radius: 4px;
	outline: none;
	border: 1px solid blue;
	margin-top: 5px;
}

.botao{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}


button{
	border-radius: 4px;
	border: 1px solid pink;
}
